@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,100&display=swap');


.flexbox-container {
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.section {
    width: 100%;
    background-color: #121212;
    /*border: 3px solid #333; */
    color: white;
}
body {
    overflow-x: hidden;
    background-color: #121212;
}
* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header {
    background-color: black;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


    
}

.description {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

}

.description h2 {
    font-weight: 100;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    margin-bottom: auto;

}

.images {
    min-height: 200px;
    display: flex;
    position: relative;
    left: 40vh;
    transform: translate(0%);


}

.image-div {
    margin: 10px;


}

.footer {
}

.slider-container {
    margin: 20px;
}

.slider-label {
    display: block;
    margin-bottom: 5px;
}

.sliders {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}

