@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,100&display=swap');

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32px;
}

.wave .shape-fill {
    fill: #000000;
}

.flexbox-container {
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.section {

    width: 100%;
    /*border: 3px solid #333; */
    color: rgba(255, 255, 255,0.8);
}
body {
    overflow-x: hidden;
    background-color: #121212;
}
* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header {
    color: rgba(154, 49, 49,0.5);  
    background-color: black;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    padding-top: 30px;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description h2 {
    font-weight: 100;
    text-align: center;
}

.content {
    background-position-x: 0px;
    background-size: cover;
    padding-top:50px;
    background-origin: border-box;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    margin-bottom: auto;
    background-image: url('backgroundImages/stacked-peaks-haikei.svg');

}

.images {
    display: flex;
    position: relative;
    transform: translate(calc(0% - 0px));
    align-items: end;
    object-fit: fill;
    /* border: 2px dashed red; */
}

.image-div {
    margin: 0;
    display: flex;
    justify-content: center;
    /* border: 1px dashed blue; */

}

.image-div img {
    object-fit: cover;
    opacity: 0.5;
    filter: grayscale(100%);
    transition: transform 0.3s ease, opacity 0.3s ease,filter 0.3s ease;
    
}

.image-div img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    opacity: 0.7;
}

.footer {

}

/* .images-grid {
    display: grid;
    width: 100%;
    grid-template-rows: 1px;
    height: 20px;
    justify-content: center;
    transform: translateX(-90px); 
}

.images-grid div {
    border-width: 3px;
    border-color: antiquewhite;
    text-align:center;
    width: 100%;
    height: 100%;
} */

.textbox-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: fit-content;

}



.textbox-value-label {
    font-weight: 100;
    margin-bottom: 5px;
    text-align: center;
}

.textboxes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}

.textbox {
    display: flex;
    
    background-color: transparent; /* Makes the background transparent */
    border: 0px solid grey; /* Adds a border to the input */
    text-align: center;
    font-size: 50px;
    width: 2em;
    user-select: none; /* Prevents text inside the textbox from being selected */
    caret-color: rgba(154, 49, 49,0.5);
    transition: color 0.3s ease, font-size 0.3s ease;
    outline: none;
    color: rgba(255, 255, 255, 0.5);
    
}
.input-with-placeholder {
    width: fit-content;
    position: relative;
  }
.textbox-placeholder-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 35%;
    font-size: 54px; /* Initial font size */
    transition: 300ms all;
    color: rgba(154, 49, 49,0.5);  
}

  .textbox:focus + .textbox-placeholder-label,
  .input-with-placeholder input:valid + label {
    color: rgba(154, 49, 49,0);  
    height: 50%;
    padding-left: 0;
    transform: translateY(-100%);
    font-size: 12px;
  }









