@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,100&display=swap');


.flexbox-container {
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.section {
    width: 100%;
    background-color: #121212;
    /*border: 3px solid #333; */
    color: white;
}
body {
    overflow-x: hidden;
    background-color: #121212;
}
* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.header {
    background-color: black;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


    
}

.description {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.description h2 {
    font-weight: 100;
    text-align: center;
}

.content {
    padding-top: 150px;
    background-origin: border-box;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    margin-bottom: auto;
    background-image: url('backgroundImages/symbol-scatter-haikei.svg');

}

.images {
    min-height: 200px;
    display: flex;
    position: relative;
    left: 40vh;
    transform: translate(0%);
    align-items: end;


}

.image-div {
    margin: 10px;


}

.footer {
}

.slider-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sliders {
    margin-top: 20px;
}

.slider-label {
    font-weight: 100;
    margin-bottom: 5px;
    text-align: center;
}

.sliders {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}

.textbox {
    background-color: transparent; /* Makes the background transparent */
    border: 0px solid grey; /* Adds a border to the input */
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    width: 3em;
    user-select: none; /* Prevents text inside the textbox from being selected */

}

.textbox:focus {
    outline: none; /* Removes the outline on focus */

}

